name: Deployment Excercise 2
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Install Dependencies
        run: npm ci
      - name: run Lint
        run: npm run lint
  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Install Dependencies
        run: npm ci
      - name: run tests
        run: npm run test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Install Dependencies
        run: npm ci
      - name: Build Code
        run: npm run build
      - name: Deploy
        run: echo "Deploying...."
  